.page_userprofile{
    --background: #f1f1f1;
    ion-card-header{
        padding: 0px;
        height: 165px;
    }
    ion-card-content{
        padding: 0px;
    }
    .card_header{
        margin: 0px;
        border-radius: 0px;
        background: #fff;

        .img_cover{
            height: 100px;
            object-fit: cover;
        }
        .img_profile{
            height: 100px;
            width: 100px;
            border: 5px solid #f1f1f1;
            border-radius: 50px;
            position: relative;
            top: -48px;
            left: 18px;
            object-fit: cover;
        }
        .btn_edit{
            position: absolute;
            right: 0px;
            top: 100px;
        }
        .lbl_header{

            .lbl_username{
                display: block;
                padding: 5px 10px 5px 10px;
                font-size: 18px;
                color: #000;
            }
            .lbl_skills{
                display: block;
                padding: 5px 10px 5px 10px;
                font-size: 16px;
                color: #000;
            }
            .lbl_company{
                display: block;
                padding: 5px 10px 5px 10px;
                font-size: 14px;
                color: #000;
            }
            .lbl_address{
                display: block;
                padding: 5px 10px 5px 10px;
                font-size: 14px;
                color: #000;
            }
            .lbl_mobileno{
                display: block;
                padding: 5px 10px 5px 10px;
                font-size: 14px;
                color: #000;
            }
        }
    }
    .card_about{
        margin: 0px;
        border-radius: 0px;
        background: #fff;
        padding: 0px 10px 10px 10px;
        margin-top: 8px;

        .lbl_heading{
            display: block;
            font-size: 16px;
            padding: 0px 0px 0px 0px;
            --padding-start: 0px;

            .btn_edit{
                --padding-end: 0px;
            }
        }
        .lbl_desc{
            display: block;
            font-size: 14px;
            color: #000;
        }
    }
}