<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" mode="ios" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Sign In
    </ion-title>
  </ion-toolbar>
</ion-header>
  

<ion-content class="main-page">

    <div class="grey-background"></div>

  <div class="container">

  <ion-card class="box">

    <img src="../../assets/img/w.png" class="logo"/>

  <form [formGroup]="login_form" autocomplete="off">
  <ion-item lines="none" class="input-container">
    <ion-label position="floating" class="input-label">
      Username
    </ion-label>
    <ion-input type="text" formControlName="username" class="input-box"></ion-input>
  </ion-item>

  <ion-item no-padding lines="none" class="validator-error"
    *ngIf="login_form.controls.username.hasError('required') && login_form.controls.username.touched">
    <p class="content">Username or Email is required!</p>
  </ion-item>

  <ion-item no-padding lines="none" class="validator-error"
      *ngIf="login_form.controls.username.hasError('incorrect') && login_form.controls.username.touched">
      <p class="content">Username or email does not exists.</p>
    </ion-item>

  <ion-item lines="none" class="input-container">
    <ion-label position="floating" class="input-label">
      Password
    </ion-label>
    <ion-input type="password" formControlName="password" class="input-box"></ion-input>
  </ion-item>

  <ion-item no-padding lines="none" class="validator-error"
    *ngIf="login_form.controls.password.hasError('required') && login_form.controls.password.touched">
    <p class="content">Password is required!</p>
  </ion-item>

  <ion-item no-padding lines="none" class="validator-error"
      *ngIf="login_form.controls.password.hasError('incorrect') && login_form.controls.password.touched">
      <p class="content">Invalid password.</p>
    </ion-item>
    
  <ion-button fill="clear" size="small" expand="full" class="btn-forgot" routerLink="/forgotpass">Forgot Password ?</ion-button>

  <ion-button expand="full" size="large" color="dark" class="btn-login" (click)="doLogin()">SIGN IN</ion-button>

  </form>

  </ion-card>

  <ion-button fill="clear" size="large" expand="full" class="btn-signup" routerLink="/register">CREATE AN ACCOUNT</ion-button>

  </div>

</ion-content>
