<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" mode="ios" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label class="lbl-head">Create a new password</ion-label>

  <ion-label class="lbl-sub">Passwords are case-sensitive and must be at least 8 characters.</ion-label>

    <form [formGroup]="change_form" autocomplete="off">
    <ion-item lines="none" class="input-container">
        <ion-label position="floating" class="input-label">
          Type your current password
        </ion-label>
        <ion-input type="password" formControlName="oldpassword" class="input-box"></ion-input>
      </ion-item>
  
      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="change_form.controls.oldpassword.hasError('required') && change_form.controls.oldpassword.touched">
        <p class="content">Please Enter Current Password!</p>
      </ion-item>

    <ion-item lines="none" class="input-container">
        <ion-label position="floating" class="input-label">
          Type your new password
        </ion-label>
        <ion-input type="password" formControlName="password" class="input-box"></ion-input>
      </ion-item>
  
      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="change_form.controls.password.hasError('required') && change_form.controls.password.touched">
        <p class="content">Please Enter New Password!</p>
      </ion-item>
      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="change_form.controls.password.hasError('minlength') && change_form.controls.password.touched">
        <p class="content">The password needs at least 8 characters.</p>
      </ion-item>
      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="change_form.controls.password.hasError('pattern') && change_form.controls.password.touched">
        <p class="content">Please Enter One Upper Case and One Lower Case, One Spacial Characters and One Number</p>
      </ion-item>
  
      <ion-item lines="none" class="input-container">
        <ion-label position="floating" class="input-label">
          Retype your new password
        </ion-label>
        <ion-input type="password" formControlName="confirmpassword" class="input-box"></ion-input>
      </ion-item>
  
      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="change_form.controls.confirmpassword.hasError('required') && change_form.controls.confirmpassword.touched">
        <p class="content">Please Enter Confirm Password!</p>
      </ion-item>
      <ion-item no-padding lines="none" class="validator-error"
        *ngIf="change_form.get('confirmpassword').errors && change_form.get('confirmpassword').errors.confirmpassword">
        <p class="content">Passwords must match!</p>
      </ion-item>

      <ion-button expand="full" size="large" color="dark" class="btn-save" (click)="submit()">SAVE</ion-button>

      </form>

</ion-content>
