.input-container{
    --padding-start: 8px;

    .input-label{
        padding-left: 8px;
    }

    .input-box{
        border: 1px solid #000;
        --padding-start: 8px;
    }
}
.btn-save{
    margin: 50px 8px;
}

.lbl-head{
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 8px;
}
.lbl-sub{
    display: block;
    font-size: 14px;
    padding: 10px 8px;
}