ion-spinner{
    margin: 0 auto;
    display: block;
    top: 40%;
}
.upload-resume{
    width: 100%;  
    padding: 0px 25% 0px 25%; 
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
}